{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],

  "root": true,

  "env": {
    "mocha": true,
    "node": true
  },

  "rules": {
    "implicit-arrow-linebreak": [0],
    "indent": ["error", 2],
    "no-console": ["error", {
      "allow": ["log", "warn", "error"]
    }],
    "no-use-before-define": ["error", {
      "functions": false
    }],
    "object-curly-newline": [0],
    "operator-linebreak": ["error", "after", {
      "overrides": {
        "?": "before",
        ":": "before"
      }
    }],
    "prefer-destructuring": ["error", {
      "object": true,
      "array": true
    }],
    "quotes": ["error", "backtick"]
  }
}
